:root {
  --background: rgb(224, 234, 247);
  --header-background: rgb(254, 251, 245);
  --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
      'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
  font-family: var(--primary-font);
  background: var(--background);
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: bisque;
}

header {
  position: sticky;
  top: 0;
  padding: 15px;
  height: 80px;

  display: flex;
  align-items: center;
  gap: 10px;

  background-color: var(--header-background);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
  height: 100%;
}

main {
  padding: 20px;
}

#profile-image {
  max-width: 200px;
  float: left;
  padding-right: 35px;
}

#kibble-image {
  max-width: 300px;
  min-width: 200px;
  float: right;
}

#toy-image {
  max-width: 300px;
  float: left;
  padding-right: 35px;
}

#food {
  padding-top: 30px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.section {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 10px;
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {

}
